
<div *ngIf="jOrderItem">
    <h2><span jhiTranslate="jhipsterDemoApp.jOrderItem.detail.title">J Order Item</span> {{jOrderItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterDemoApp.jOrderItem.sku">Sku</span></dt>
        <dd>
            <span>{{jOrderItem.sku}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.jOrderItem.qty">Qty</span></dt>
        <dd>
            <span>{{jOrderItem.qty}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.jOrderItem.itemDesc">Item Desc</span></dt>
        <dd>
            <span>{{jOrderItem.itemDesc}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.jOrderItem.order">Order</span></dt>
        <dd>
            <div *ngIf="jOrderItem.order">
                <a [routerLink]="['/j-order', jOrderItem.order?.id]">{{jOrderItem.order?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'j-order-item/'+ jOrderItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
