<div>
    <h2>
        <span jhiTranslate="jhipsterDemoApp.jOrder.home.title">J Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-j-order" [routerLink]="['/', { outlets: { popup: ['j-order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterDemoApp.jOrder.home.createLabel">
            Create new J Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderNum"><span jhiTranslate="jhipsterDemoApp.jOrder.orderNum">Order Num</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderStatus"><span jhiTranslate="jhipsterDemoApp.jOrder.orderStatus">Order Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderDate"><span jhiTranslate="jhipsterDemoApp.jOrder.orderDate">Order Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderDesc"><span jhiTranslate="jhipsterDemoApp.jOrder.orderDesc">Order Desc</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jOrder of jOrders ;trackBy: trackId">
                <td><a [routerLink]="['../j-order', jOrder.id ]">{{jOrder.id}}</a></td>
                <td>{{jOrder.orderNum}}</td>
                <td>{{jOrder.orderStatus}}</td>
                <td>{{jOrder.orderDate | date:'mediumDate'}}</td>
                <td>{{jOrder.orderDesc}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../j-order', jOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'j-order/'+ jOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'j-order/'+ jOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="jOrders && jOrders.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
